@tailwind base;

@layer base {
  @font-face {
    font-family: Inter;
    font-weight: 100;
    src: url(/fonts/Inter-Thin.ttf) format("truetype");
  }
  @font-face {
    font-family: Inter;
    font-weight: 200;
    src: url(/fonts/Inter-ExtraLight.ttf) format("truetype");
  }
  @font-face {
    font-family: Inter;
    font-weight: 300;
    src: url(/fonts/Inter-Light.ttf) format("truetype");
  }
  @font-face {
    font-family: Inter;
    font-weight: 400;
    src: url(/fonts/Inter-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: Inter;
    font-weight: 500;
    src: url(/fonts/Inter-Medium.ttf) format("truetype");
  }
  @font-face {
    font-family: Inter;
    font-weight: 600;
    src: url(/fonts/Inter-SemiBold.ttf) format("truetype");
  }
  @font-face {
    font-family: Inter;
    font-weight: 700;
    src: url(/fonts/Inter-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: Inter;
    font-weight: 800;
    src: url(/fonts/Inter-ExtraBold.ttf) format("truetype");
  }
  @font-face {
    font-family: Inter;
    font-weight: 900;
    src: url(/fonts/Inter-Black.ttf) format("truetype");
  }

  html {
    --notice-height: 0px;
    --header-height: 56px;
    --sidebar-width: 224px;
  }

  body {
    @apply text-sm;
  }
}

@tailwind components;
@layer components {
  .btn {
    @apply px-4 py-3 flex items-center justify-center h-10 relative text-center transition ease-in-out duration-300 rounded-md whitespace-nowrap font-medium space-x-1 select-none;
  }
  .btn:hover,
  .btn:focus,
  .btn:active {
    @apply outline-none;
  }
  /* button */
  /* size button */
  .btn.btn-sm {
    @apply px-4 py-2 h-8 text-sm;
  }
  .btn.btn-lg {
    @apply px-8 py-4 h-12 text-lg;
  }
  /* type button default */
  .btn.btn-default {
    @apply bg-white text-primary-400 border border-primary-400;
  }
  .btn.btn-default:hover {
    @apply bg-primary-50;
  }
  .btn.btn-default:focus {
    @apply ring-2 ring-offset-2 ring-gray-100;
  }
  /* type button primary */
  .btn.btn-primary {
    @apply bg-primary-400 text-white border border-primary-400;
  }
  .btn.btn-primary:hover {
    @apply bg-primary-500;
  }
  .btn.btn-primary:focus {
    @apply ring-2 ring-offset-2 ring-primary-100;
  }

  /* type button gray */
  .btn.btn-gray {
    @apply bg-gray-100 text-black border border-gray-100;
  }
  .btn.btn-gray:hover {
    @apply bg-gray-200;
  }
  .btn.btn-gray:focus {
    @apply ring-2 ring-offset-2 ring-gray-300;
  }

  /* type button text */
  .btn.btn-text {
    @apply px-0 bg-transparent text-black;
  }
  .btn.btn-text:focus {
    @apply ring-0;
  }
  .btn.btn-text-primary {
    @apply px-0 bg-transparent text-primary-400;
  }
  .btn.btn-text-primary:focus {
    @apply ring-0;
  }

  /* type button success */
  .btn.btn-success {
    @apply bg-success-500 text-white border border-success-500;
  }
  .btn.btn-success:hover {
    @apply bg-success-600 border-success-600;
  }
  .btn.btn-success:focus {
    @apply ring-2 ring-offset-2 ring-success-600;
  }

  .btn.btn-block {
    @apply w-full;
  }

  /* wrapper-input */
  .input-wrapper {
    @apply relative w-full min-w-0 h-10 px-4 flex items-center outline-none text-gray-500 rounded-md;
  }
  /* type wrapper-input */
  .input-wrapper.input-wrapper-default {
    @apply bg-white border border-transparent;
  }
  .input-wrapper.input-wrapper-primary {
    @apply bg-gray-100;
  }
  /* size wrapper-input */
  .input-wrapper.input-wrapper-sm {
    @apply text-sm py-1 px-4 h-8;
  }
  .input-wrapper.input-wrapper-lg {
    @apply text-lg py-4 px-4 h-12;
  }
  /* input */
  .input {
    @apply relative w-full min-w-0 outline-none text-black inline-block;
  }
  .input:disabled {
    @apply cursor-not-allowed;
  }
  /* size input */
  .input.input-lg {
    @apply text-lg;
  }
  .input.input-sm {
    @apply text-sm;
  }
  /* type input */
  .input.input-primary {
    @apply bg-gray-100;
  }
  .input.input-default {
    @apply bg-white;
  }
  /* select */
  .select {
    @apply relative flex h-10 items-center justify-between w-full py-4 px-2 text-left font-semibold  text-gray-600 cursor-default focus:outline-none;
  }
  .select:focus {
    @apply outline-none;
  }
  /* .select.select-default:focus {
    @apply ring-1 ring-primary-400;
  } */
  /*type select */
  .select.select-default {
    @apply bg-gray-100 rounded-md;
  }
  .select.select-outline {
    @apply bg-white border-b-2 border-primary-400;
  }
  /* size select */
  .select.select-sm {
    @apply text-sm h-8 py-2 px-2;
  }
  .select.select-lg {
    @apply text-lg h-12 py-6 px-4;
  }
  /* dropdown-item */
  .dropdown-item {
    @apply absolute z-10 w-full mt-1 overflow-auto bg-white shadow-lg max-h-56 rounded-md ring-1 ring-black ring-opacity-5;
  }
  .dropdown-item:focus {
    @apply outline-none;
  }
  /*size dropdown-item */
  .dropdown-item.dropdown-item-sm {
    @apply text-sm;
  }
  .dropdown-item.dropdown-item-lg {
    @apply text-lg;
  }
  /* modal */
  .modal {
    @apply inline-block text-left align-bottom bg-white transform transition-all rounded-md;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  }
  .modal-header {
    @apply flex flex-row items-center px-6 py-4 border-b h-14;
  }
  .modal-body {
    @apply px-6 py-4 break-words;
  }
  .modal-footer {
    @apply flex justify-end px-6 py-4 border-t space-x-3;
  }

  /* login form */
  .form-login {
    @apply w-full;
  }
  @media screen(md) {
    .form-login {
      width: 512px;
    }
  }
  .form-signup {
    @apply w-full;
  }
  @media screen(xl) {
    .form-signup {
      width: 640px;
    }
  }

  /* Hide Arrows From Input Number */
  /* Chrome, Safari, Edge, Opera */
  input.hide-arrows::-webkit-outer-spin-button,
  input.hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"].hide-arrows {
    -moz-appearance: textfield;
  }

  .TractionWork-DatePicker.DatePicker {
    @apply w-full;
    z-index: 24;
  }

  .TractionWork-DatePicker-calendar {
    font-size: 8px !important;
  }

  @media screen(2xl) {
    .TractionWork-DatePicker-calendar {
      font-size: 9px !important;
    }
  }
}

/* react-collapse */
.ReactCollapse--collapse {
  @apply transition-height duration-300;
}

/* ckeditor */
.ck.ck-editor__editable > .ck-placeholder::before {
  @apply text-gray-400;
}

/* rc-tooltip */
.rc-tooltip.rc-tooltip-zoom-appear,
.rc-tooltip.rc-tooltip-zoom-enter {
  opacity: 0;
}
.rc-tooltip.rc-tooltip-zoom-enter,
.rc-tooltip.rc-tooltip-zoom-leave {
  display: block;
}
.rc-tooltip-zoom-enter,
.rc-tooltip-zoom-appear {
  opacity: 0;
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation-play-state: paused;
}
.rc-tooltip-zoom-leave {
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.6, -0.3, 0.74, 0.05);
  animation-play-state: paused;
}
.rc-tooltip-zoom-enter.rc-tooltip-zoom-enter-active,
.rc-tooltip-zoom-appear.rc-tooltip-zoom-appear-active {
  animation-name: rcToolTipZoomIn;
  animation-play-state: running;
}
.rc-tooltip-zoom-leave.rc-tooltip-zoom-leave-active {
  animation-name: rcToolTipZoomOut;
  animation-play-state: running;
}
@keyframes rcToolTipZoomIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
}
@keyframes rcToolTipZoomOut {
  0% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
  100% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }
}
.rc-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  opacity: 0.9;
  @apply text-sm;
}
.rc-tooltip-hidden {
  display: none;
}
.rc-tooltip-placement-top,
.rc-tooltip-placement-topLeft,
.rc-tooltip-placement-topRight {
  padding: 4px 0 8px 0;
}
.rc-tooltip-placement-right,
.rc-tooltip-placement-rightTop,
.rc-tooltip-placement-rightBottom {
  padding: 0 4px 0 8px;
}
.rc-tooltip-placement-bottom,
.rc-tooltip-placement-bottomLeft,
.rc-tooltip-placement-bottomRight {
  padding: 8px 0 4px 0;
}
.rc-tooltip-placement-left,
.rc-tooltip-placement-leftTop,
.rc-tooltip-placement-leftBottom {
  padding: 0 8px 0 4px;
}
.rc-tooltip-inner {
  padding: 8px 10px;
  color: #fff;
  text-align: left;
  text-decoration: none;
  background-color: #373737;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.17);
  min-height: 32px;
}
.rc-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.rc-tooltip-placement-top .rc-tooltip-arrow,
.rc-tooltip-placement-topLeft .rc-tooltip-arrow,
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  bottom: 4px;
  margin-left: -4px;
  border-width: 4px 4px 0;
  border-top-color: #373737;
}
.rc-tooltip-placement-top .rc-tooltip-arrow {
  left: 50%;
}
.rc-tooltip-placement-topLeft .rc-tooltip-arrow {
  left: 15%;
}
.rc-tooltip-placement-topRight .rc-tooltip-arrow {
  right: 15%;
}
.rc-tooltip-placement-right .rc-tooltip-arrow,
.rc-tooltip-placement-rightTop .rc-tooltip-arrow,
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  left: 4px;
  margin-top: -4px;
  border-width: 4px 4px 4px 0;
  border-right-color: #373737;
}
.rc-tooltip-placement-right .rc-tooltip-arrow {
  top: 50%;
}
.rc-tooltip-placement-rightTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}
.rc-tooltip-placement-rightBottom .rc-tooltip-arrow {
  bottom: 15%;
}
.rc-tooltip-placement-left .rc-tooltip-arrow,
.rc-tooltip-placement-leftTop .rc-tooltip-arrow,
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  right: 4px;
  margin-top: -4px;
  border-width: 4px 0 4px 4px;
  border-left-color: #373737;
}
.rc-tooltip-placement-left .rc-tooltip-arrow {
  top: 50%;
}
.rc-tooltip-placement-leftTop .rc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}
.rc-tooltip-placement-leftBottom .rc-tooltip-arrow {
  bottom: 15%;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow,
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow,
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  top: 4px;
  margin-left: -4px;
  border-width: 0 4px 4px;
  border-bottom-color: #373737;
}
.rc-tooltip-placement-bottom .rc-tooltip-arrow {
  left: 50%;
}
.rc-tooltip-placement-bottomLeft .rc-tooltip-arrow {
  left: 15%;
}
.rc-tooltip-placement-bottomRight .rc-tooltip-arrow {
  right: 15%;
}

.form-tick:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

/**css for issues/to-dos-headline*/
.empty-item {
  @apply py-4 px-6 bg-white;
}
.table-todos {
  @apply flex items-center p-4 bg-white border-b font-medium;
}
.table-title-left {
  @apply flex items-center justify-start flex-1;
}
.table-subtitle-left {
  @apply justify-start w-32 font-medium flex;
}
.table-subtitle-right {
  @apply w-48 flex;
}
.table-item {
  @apply flex items-center  cursor-pointer gap-4 hover:bg-gray-100 transition-all duration-300;
}
.table-item-days {
  @apply w-32 flex-1 flex items-center justify-start whitespace-nowrap;
}
.table-item-name {
  @apply w-48 flex items-center justify-start space-x-2;
}

.slick-dots li.slick-active button:before {
  @apply text-primary-400 !important text-xs;
}
.slick-dots li button:before {
  @apply text-xs !important;
}
.slick-dots li button:hover {
  @apply text-primary-400 !important;
}

.checkout-progressbar {
  @apply flex items-center w-3 h-3 mx-auto rounded-full border-gray-400 border-2;
}
.checkout-active {
  @apply border-primary-400 border-2 bg-primary-400;
}
.checkout-complete {
  @apply bg-primary-400;
}
.checkout-text-active {
  @apply text-primary-400;
}
.checkout-text-active {
  @apply text-white;
}
.checkout-text-todo {
  @apply text-gray-400;
}
.checkout-line {
  @apply items-center flex-1  align-middle bg-gray-400;
}
.checkout-line-todo {
  @apply py-1 text-xs leading-none text-center bg-gray-400;
}
.checkout-line-complete {
  @apply bg-primary-400;
}
.slick-prev:before,
.slick-next:before {
  @apply text-primary-400 !important;
}

/* react-grid-layout */
.react-grid-item.react-grid-placeholder {
  background: #d1d5db !important;
  border-radius: 8px !important;
}

.react-grid-item > .react-resizable-handle {
  opacity: 0 !important;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.group:hover.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 24px;
  height: 24px;
  opacity: 1 !important;
}

.react-grid-item > .react-resizable-handle::after {
  content: "" !important;
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 8px !important;
  height: 8px !important;
  border-bottom: 8px solid #d1d5db !important;
  border-right: 8px solid #d1d5db !important;
  border-top: 8px solid transparent !important;
  border-left: 8px solid transparent !important;
}

.react-resizable-handle {
  background-image: none !important;
}

.line-height-normal {
  line-height: normal;
}

/*custom-tooltip*/

@tailwind utilities;
